@charset "UTF-8";

.affix {
  position: fixed;
  top: 0;
}

/*Background Hero Image*/

body {
  color: #191919;
/*  background: #ffffff url("../Images/Hero_Image_1.png");*/
/*  background-size: 100% 100%;*/
/*  background-size: cover;*/
/*  background-position: right top;*/
/*  background-repeat: no-repeat;*/
/*  background-attachment: fixed;*/
  text-align: center;
}

/*Header*/

.header-spacer {
	height: 66px;
}

.header {
  position: fixed;
  top: 100;
  width: 100%;
  height: 66px;
  background-color: #ffffff;
  z-index: 1;
  box-shadow: 1px 1px 1px 1px #585858;
}

.nameBlock {
  margin-top: 23.5px;
  margin-bottom: 23.5px;
  padding: 0px;
}

.name {
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: right;
}

.logoBlock {
  margin-left: auto;
  margin-right: auto;
}

.logo {
  width: 66px;
  padding: 0px;
}

.jobBlock {
  margin-top: 23.5px;
  margin-bottom: 23.5px;
  padding: 0px;
}

.job {
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: left;
}

/*Intro*/

.intro {
  width: 100%;
  height: 600px;
	color: #191919;
  background: #ffffff url("../Images/Hero_Image_1.png");
  background-size: 100% 100%;
  background-size: cover;
  background-position: right top 66px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align: center;
}

/*Main Navigation*/

.nav-line {
  height: 1px;
  background-color: #bebebe;
}

.navbar {
  width: 100%;
/*  margin-top: 66px;*/
  margin-bottom: -20px;
  border: 0px;
  z-index: 2;
}

.navbar-header {
  background-color: #ffffff;
  text-align: center;
  width: 100%;
  z-index: 2;
  box-shadow: 1px 2px 2px #585858;
}

.navblock .affix {
	position: fixed;
	top: 66px;
}

/*Carousel*/
#myCarousel {
  margin-top: 5px;
}

.carousel-control .glyphicon, .carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon, .carousel-control .glyphicon-chevron-right {
  top: 80px;
  z-index: 5;
}

.carouselArrows {
  width: 15%;
  top: 300px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 50px;
  background-color: #f5f5f5;
}

.carousel-indicators {
	position: fixed;
	bottom: 0px;
}

/*Work Content*/

.test {
  height: 2000px;
  background-color: #e6e6e6;
  margin-top: -20px;
  
}

.test1 {
  height: 2000px;
  background-color: #3579ac;
  margin-top: -20px;
  
}

.test2 {
  height: 2000px;
  background-color: darkslategray;
  margin-top: -20px;
}

.test3 {
  height: 2000px;
  background-color: lightcoral;
  margin-top: -20px;
}

.test4 {
  height: 2000px;
  background-color: #8eaf35;
  margin-top: -20px;
}

.test5 {
  height: 2000px;
  background-color: #3c71b9;
  margin-top: -20px;
}

/*About*/

.test6 {
  height: 2000px;
  background-color: #938989;
  margin-top: -20px;
}

/*Contact*/

.test7 {
  height: 2000px;
  background-color: #c334bd;
  margin-top: -20px;
}

