@charset "UTF-8";

@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);

.affix {
  position: fixed;
  top: 0;
}

/*Background Hero Image*/

body {
  color: #191919;
  text-align: center;
}

/*Header*/

.header-spacer {
	height: 66px;
}

.header {
  position: fixed;
  top: 100;
  width: 100%;
  height: 66px;
  background-color: #ffffff;
  z-index: 1;
  box-shadow: 1px 1px 1px 1px #585858;
}

.nameBlock {
  margin-top: 23.5px;
  margin-bottom: 23.5px;
  padding: 0px;
}

.name {
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: right;
}

.logoBlock {
  margin-left: auto;
  margin-right: auto;
}

.logo {
  width: 66px;
  padding: 0px;
}

.jobBlock {
  margin-top: 23.5px;
  margin-bottom: 23.5px;
  padding: 0px;
}

.job {
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: left;
}

/*Intro*/

.intro {
  width: 100%;
  height: 600px;
	color: #191919;
  background: #ffffff url("../Images/Hero_Image_1.png");
  background-size: 100% 100%;
  background-size: cover;
  background-position: right top 66px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align: center;
}

.intro-text {
	height: 100%;
	padding: 10% 0% 0% 0%;
	margin-left: 15%;
	vertical-align: middle;
	color: #ffffff;
	text-shadow: 1px 1px 1px #222222;
	position: fixed
}

.intro-text h3{
	font-size: 30px
}

.intro-text h2{
	font-size: 30px
}

.intro-text h1{
	font-size: 60px
}

/*Main Navigation*/

.navline {
  height: 1px;
  background-color: #a3a3a3;
	margin: 0px;
	padding: 0px;
  border: 0px;
}

.navblock {
	margin: 0px;
	padding: 0px;
  border: 0px;
}

.navbar {
  width: 100%;
  margin-bottom: -20px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: -1px;
	padding: 0px;
  border: 0px;
  z-index: 2;
}

.navbar-header {
  background-color: #ffffff;
  text-align: center;
  width: 100%;
  z-index: 2;
}

.navbtn {
	height: 100%;
	margin: 0px;
	padding: 0px;
  border: 0px;
}

.navbtn:hover {
	color: white;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#009dff+0,008ae0+100 */
	background: #009dff; /* Old browsers */
	background: -moz-linear-gradient(top,  #009dff 0%, #008ae0 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #009dff 0%,#008ae0 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #009dff 0%,#008ae0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#009dff', endColorstr='#008ae0',GradientType=0 ); /* IE6-9 */
}

.navbtn:active {
	color: white;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#008ae0+0,009dff+100 */
background: #008ae0; /* Old browsers */
background: -moz-linear-gradient(top,  #008ae0 0%, #009dff 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #008ae0 0%,#009dff 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #008ae0 0%,#009dff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008ae0', endColorstr='#009dff',GradientType=0 ); /* IE6-9 */
}

.btn {
	border-radius: 0px;
	border: 0px;
}

.btn:hover {
	color: white;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#009dff+0,008ae0+100 */
	background: #009dff; /* Old browsers */
	background: -moz-linear-gradient(top,  #009dff 0%, #008ae0 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #009dff 0%,#008ae0 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #009dff 0%,#008ae0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#009dff', endColorstr='#008ae0',GradientType=0 ); /* IE6-9 */
}

.btn:active, .btn.active {
	color: white;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#008ae0+0,009dff+100 */
	background: #008ae0; /* Old browsers */
	background: -moz-linear-gradient(top,  #008ae0 0%, #009dff 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #008ae0 0%,#009dff 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #008ae0 0%,#009dff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008ae0', endColorstr='#009dff',GradientType=0 ); /* IE6-9 */
}

.btn:focus {
	color: white;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#008ae0+0,009dff+100 */
	background: #008ae0; /* Old browsers */
	background: -moz-linear-gradient(top,  #008ae0 0%, #009dff 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #008ae0 0%,#009dff 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #008ae0 0%,#009dff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008ae0', endColorstr='#009dff',GradientType=0 ); /* IE6-9 */	
}

.navblock .affix {
	position: fixed;
	top: 66px;
}

/*Carousel*/
#myCarousel {
  margin-top: 5px;
}

.carousel-control .glyphicon, .carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon, .carousel-control .glyphicon-chevron-right {
  top: 80px;
  z-index: 5;
}

.carouselArrows {
  width: 15%;
  top: 300px;
}

.carousel-indicators {
	position: fixed;
	bottom: 50px;
}

.carousel-indicators li {
	background-color: #000 \9;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #393939;
}

.carousel-indicators .active {
  width: 12px;
  height: 12px;
  margin: 0;
  background-color: #393939;
}


.content-spacer {
  height: 2000px;
  background-color: #ffffff;
  margin-top: -20px;
  
}

.content-header {
	height: 600px;
	background-color: #1c2029;
	padding-top: 150px;
	color: white;
	font-size: 72px;
	font-family: 'Oswald', 400;
	text-align: center;
}
/*Work Content*/

.content-header p {
	color: white;
	font-size: 72px;
	font-family: "Oswald", 400;

}

.myRole {
	padding: 50px 20px 50px 20px;
}

.myRole div {
	display: inline-block;
}

.challenge {
	padding: 50px 20px 50px 20px;
	background-color: #f4f7fb;
}

.vision {
	padding: 50px 20px 50px 20px;
}

.approach {
	padding: 50px 20px 50px 20px;
	background-color: #f4f7fb;
}

.path {
	padding: 50px 20px 50px 20px;
}

.conclusion {
	padding: 50px 20px 50px 20px;
	background-color: #f4f7fb;
}

.test {
  height: auto;
  background-color: #ffffff;
	padding: 0px;
  margin-top: -20px;
	text-align: left;
	font-size: 18px;
}

.test1 {
  height: 2000px;
  background-color: #3579ac;
  margin-top: -20px;
  
}

.test2 {
  height: 2000px;
  background-color: darkslategray;
  margin-top: -20px;
}

.test3 {
  height: 2000px;
  background-color: lightcoral;
  margin-top: -20px;
}

.test4 {
  height: 2000px;
  background-color: #8eaf35;
  margin-top: -20px;
}

.test5 {
  height: 2000px;
  background-color: #3c71b9;
  margin-top: -20px;
}

/*About*/

.test6 {
  height: 2000px;
  background-color: #938989;
  margin-top: -20px;
}

/*Contact*/

.test7 {
  height: 2000px;
  background-color: #c334bd;
  margin-top: -20px;
}

/*Footer*/

.footer {
	color: white;
	height: 50px;
	background-color: #1c2029;
}

